.featuresContainer{
    @apply flex flex-col justify-center mx-6 py-8 px-4 space-y-8 mt-[13vh]
    md:flex-row md:justify-between md:items-center md:space-x-2 md:px-8 md:space-y-0
     bg-white/40 text-black shadow-2xl rounded-lg
}
:global(.dark) .featuresContainer {
    @apply text-white bg-black/40 shadow-black/30  transition-all duration-700;
  }

  .textArea{
    @apply flex flex-col items-center justify-center md:w-[40vw] md:h-[100%] md:p-2 md:space-y-6 space-y-4 text-center
  }

  .textAreaHeader{
    @apply text-lg md:text-4xl font-bold
  }

  .textAreaBody{
    @apply text-sm md:text-xl md:overflow-hidden
  }

  .featuresImage{
    @apply flex justify-center items-center md:w-[30vw] md:h-[80%] md:mr-6 hover:scale-110 transition-all duration-400
  }