/* style for mobile*/
.mobileNav {
  @apply md:hidden flex justify-between items-center fixed z-30 top-0 w-full px-1 bg-white/80 shadow-sm shadow-gray-200;
}

:global(.dark) .mobileNav {
  @apply bg-black/90 shadow-slate-900;
}

.mobileMenuBtn {
  @apply flex justify-center items-center rounded-md w-8 h-8 z-40 bg-[#212933] text-white;
}

:global(.dark) .mobileMenuBtn {
  @apply bg-slate-200 text-black;
}

.inMenuBtn {
  @apply absolute  top-5 right-6  flex justify-center items-center rounded-md w-7 h-7 z-40 bg-[#212933] text-white;
}

:global(.dark) .inMenuBtn {
  @apply bg-slate-200 text-black;
}

.mobileMenu {
  @apply md:hidden fixed inset-0 z-30 w-full h-screen origin-top bg-black/90 text-white;
}

.seachPage {
  @apply md:hidden fixed inset-0 z-30 w-full h-screen origin-top bg-black/90;
}
